{% extends "base.html" %}

{% block content %}
<h2>Inventory</h2>

<p>
	<ul>
	<li>
			<h2><a href="/lab/inventory/?loc_code=">All</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=sl-8">SL-8</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=sl-4">SL-4</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=slf-l">SLF-L</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=slf-o">SLF-O</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=sd">SD Lab</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=conc">Concentrates</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=refri">Refrigerator</a>
		</li>
		<li>
			<h2><a href="/lab/inventory/?loc_code=other">Other</a>
		</li>
	</ul>
</p>
{% endblock %}