{% extends "base.html" %}

{% block content %}
	<script type="text/javascript">
		jQuery(document).ready( function() {
			jQuery('td.retain-number-cell').each(function(index) {
				jQuery(this).append(jQuery(this).find('input').val());
			});	
		});
		
	</script>
	
	<!--
    {{ formset.non_form_errors }}
	{{ formset.errors }}
	-->
	
    <form action="" method="POST">
	{{ formset.management_form }}
	
	<table id="retain-rows" width="100%">
		<thead>
			<tr>
				<th>R number</th>
				<th>Pin</th>
				<th>Lot</th>
				<th>Supplier</th>
			</tr>
		</thead>
		<tbody>
	    {% for form in formset.forms %}
			<tr>
				<td class="retain-number-cell">{{ form.r_number }}</td>
				<td class="number-cell">{{ form.pin }}</td>
				<td class="lot-cell">{{ form.lot }}</td>
				<td class="weight-cell">{{ form.supplier }}</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>
	<input id="retain-submit-button" type="submit" value="Submit Retains" />
    </form>
{% endblock %}
