{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/djangomedia/js/analyze_tc.js?v=25"></script>
<div id="content-right">
	<div id="loading">
		<img src="/djangomedia/images/loading.gif">
	</div>
</div>
<div id="content-main">
	<ul id="progress-steps">
		<li class="active">Retrieving scanned test cards from printer.</li>
		<li>{{ n  }} test cards retrieved.</li>
		<li>Processing images...</li>		
	</ul>
	
	<div id="done" class="hidden">
		<a href="/django/qc/pending_testcards/"><img src="/djangomedia/images/Icons/128x128/accept.png"></a>
	</div>
</div>
{% endblock %}
