{% extends "base.html" %}
{% load mainsearch %}

{% block content %}


	<table id="user-rows" width="100%">
		<tr>
			<th class="name-cell">Model Name</th>
			<th class="version_count-cell">Number of Revisions</th>
		</tr>

		{% for id, name, revision_count in model_rows %}

		<tr class="user_row" align="center">	
			{% url history_audit.views.model_info id as the_url %}
			<td class="name-cell"><a href = '{{ the_url }}'> {{ name }} </a></td>
			<td class="revision_count-cell" >{{ revision_count }}</td>
		</tr>
		{% endfor %}
	</table>


{% endblock %}