{% extends "base.html" %}
{% block content %}

{% if status_message %}
	<h1>{{ status_message }}</h1>
{% endif %}

<div id="sales-order-by-lineitem">

<form id="selectform">
<!--
<button type="button" id="select_all">Select All</button>
<button type="button" id="select_none">Select None</button>
<button type="button" id="issue_batch_sheets">Issue Batch Sheets</button>
-->
<table width="100%" class="sorttable">
	<thead>
		<tr>
			<th title="Sales Order Number" class="{sorter: 'link-digit'}">SO Num</th>
			<th>Customer</th>
			<th title="Product" class="{sorter: 'link-digit'}">Product</th>
			<th title="Weight Ordered" class="{sorter: 'link-digit'}">Quantity</th>
			<th title="Unit Price" class="{sorter: 'link-digit'}">Unit Price</th>
			<th title="Date Ordered" class="{sorter: 'isoDate'}">Order Date</th>
			<th title="Ship Date" class="{sorter: 'text'}">Ship Date</th>
			<th title="Due Date" class="{sorter: 'isoDate'}">Due Date</th>
			<th title="Total Sale Price" class="{sorter: 'link-digit'}">Total Sale Price</th>
		</tr>
	</thead><tbody>
	{% for lineitem in lineitems %}
	<tr id="{{ lineitem.id }}">
		
		
		
		<td><a href="/django/salesorders/{{ lineitem.salesordernumber.number }}/">{{ lineitem.salesordernumber.number }}</a></td>
		<td><a href="/django/salesorders/customer/{{lineitem.salesordernumber.customer.pk}}/" target="_blank">{{ lineitem.salesordernumber.customer }}</a></td>
		<td><a href="/django/access/{{ lineitem.flavor.number }}">{{ lineitem.flavor.number }}</a></td>
		<td>{{ lineitem.quantity|floatformat:0 }}</td>
		<td>{{ lineitem.unit_price|floatformat:2 }}</td>
    	<td>{{ lineitem.salesordernumber.create_date|date:'m-d' }}</td>
    	<td>{{ lineitem.ship_date|date:'m-d' }}</td>
    	<td>{{ lineitem.due_date|date:'m-d' }}</td>
    	<td>{{ lineitem.quantity_price|floatformat:2}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</form>
</div>

</form>
{% endblock %}

