{% extends "base.html" %}
{% block content %}

{% if status_message %}
	<h1>{{ status_message }}</h1>
{% endif %}

<div id="flavorsearch">
	
</div>
<div id="sales-order-by-product">
<table width="100%" class="sorttable">
	<thead>
		<tr>
			<th title="Flavor Number" class="{sorter: 'link-digit'}">Num</th>
			<th title="Weight Ordered" class="{sorter: 'link-digit'}">Weight</th>
			<th class="{sorter: 'link-digit'}" title="Unit Raw Material Cost">Unit $</th>
			<th class="{sorter: 'link-digit'}" title="Total Raw Material Cost">Total $</th>
			<th>Details</th>
		</tr>
	</thead><tbody>
	{% for order in orders %}
	<tr id="{{ order.0 }}">
		<td>
			<a href="/access/{{ order.flavor.number }}?wf={{ order.total }}">{{ order.flavor.number }}</a>
		</td>
		<td>
			{{ order.total }}
		</td>
		<td>
			{{ order.flavor.rawmaterialcost }}
		</td>
		<td>
			{{ order.totalcost }}
		</td>
		<td>	
		{% for detail in order.details %}
			<a href="/salesorders/{{ detail.salesordernumber.number }}/">{{ detail }};</a>
		{% endfor %}
		</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div>

</form>
{% endblock %}

