{% extends "base.html" %}
{% block content %}

{% if status_message %}
	<h1>{{ status_message }}</h1>
{% endif %}

<div id="ingredients-required">
<table width="100%" class="sorttable">
	<caption>Ingredients required to fulfill order - ${{ total_cost }}</caption>
	<thead>
		<tr>
			<th title="Ingredient PIN" class="{sorter: 'link-digit'}">PIN</th>
			<th title="Nat-Art Label">N-A</th>
			<th title="Prefix">Pf</th>
			<th>Name</th>
			<th>FEMA#</th>
			<th>Supplier</th>
			<th title="Last Date When Price Changed">Update</th>
			<th title="Total Weight Required" class="{sorter: 'link-digit'}">Weight</th>
			<th title="Unit Cost" class="{sorter: 'link-digit'}">Unit $</th>
			<th title="Total Cost" class="{sorter: 'link-digit'}">Total $</th>
		</tr>
	</thead><tbody>
	{% for ing, fo in ingredients_required.items %}
	<tr id="{{ ing.id }}">
		<td><a href="/access/ingredient/pin_review/{{ ing.id }}/" target="_blank">{{ ing.id }}</a></td>
		<td>{{ ing.art_nati }}</td>
		<td>{{ ing.prefix }}</td>
		<td>{{ ing.name }}</td>
		<td>{{ ing.fema }}</td>
		<td>{{ ing.suppliercode }}</td>
		<td>{{ ing.purchase_price_update|date:"Y-m" }}</td>
		<td>{{ fo.weight }}</td>
		<td>{{ ing.unitprice }}</td>
		<td>{{ fo.total_cost }}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div>

</form>
{% endblock %}

