django==1.11
psycopg2==2.7.3.1
xlrd==1.1.0
celery==3.1.17
elaphe==0.6.0
python-memcached==1.58
python-dateutil==2.6.1
pytz==2017.2
django-reversion==2.0.10
django-celery==3.2.1
django-formfieldset==1.1
Pillow==8.2.0
redis==2.10.6
ipython==5.5.0
djangorestframework==3.6.4
zbar==0.10
django-filter==1.1.0
django-formtools==2.1