<script>
$(function() {
	$( "#new_consolidated_table" ).tablesorter({
			headers: {
			0: {
				sorter: 'link-digit'
			},
			1: {
				sorter: 'text'
			},
			2: {
				sorter: 'text'
			},
			3: {
				sorter: 'text'
			},
			4: {
				sorter: 'digit'
			},
			5: {
				sorter: 'digit'
			},
			6: {
				sorter: 'digit'
			},
			7: {
				sorter: 'text'
			}
	}});
});
</script>

<div id="consolidated">
	<span class="weight_form">
		<form class="weightform" action="foo" method="get" onsubmit="return adjust_weight(this)">
		Adjusted Weight:
		<input type="text" name="wf" id="adjusted_weight" value="1000"  />
		<input type="submit" value="Get adjusted formula" style="display:none;"/>
		</form>
	</span>
	<span class="table_action_links">
		<A HREF="/access/{{ flavor.number }}/formula_entry/">edit</A> | <A HREF="javascript:$('#new_consolidated_table').table2CSV()">spreadsheet</A> |  <A href="javascript:consolidated_review_popup({{ flavor.number }})">batch sheet</A>
	</span>
	<table id="new_consolidated_table" width="100%" class="tab_data">
	    <thead>
	        <tr>
	            <th align="center">PIN</th>
	            <th align="center">N-A</th>
	            <th align="center">Prefix</th>
	            <th align="center">Name</th>
	            <th align="center">Amount</th>
	            <th align="center">Unit Cost</th>
	            <th align="center">Relative Cost</th>
	            <th align="center">Last Update</th>
	        </tr>
	    </thead>
		{% for formula_item in flavor.sorted_consolidated_leafs %}
        {% if formula_item.ingredient.rm_ingredient_statement %}
        <tr data-ogw="{{ formula_item.amount }}" class="raw_material_tr has_ingredient_statement">
        {% else %}
	    <tr data-ogw="{{ formula_item.amount }}" class="raw_material_tr">
        {% endif %}
	        <td align="center"><a href="{{ formula_item.ingredient.url }}">{{ formula_item.ingredient.id }}</a></td>
	        <td align="center">{{ formula_item.ingredient.art_nati }}</td>
	        <td align="center">{{ formula_item.ingredient.prefix }}</td>
	        <td>{{ formula_item.ingredient.table_name }}</td>
	        <td align="center">{{ formula_item.amount }}</td>
	        <td align="center">{{ formula_item.ingredient.unitprice|floatformat:2 }}</td>
	        <td align="center">{{ formula_item.relative_cost|floatformat:2 }}</td>
	        <td align="center">{{ formula_item.ingredient.purchase_price_update|date:"Y-m" }}</td>
	    </tr>
        {%  if formula_item.ingredient.rm_ingredient_statement %}
        <tr align="center" class="rm_ingredient_statement_row tablesorter-childRow">
            <td colspan="8">
            {{ formula_item.ingredient.rm_ingredient_statement }}
            </td>
        </tr>
        {% endif %}

		{% endfor %}
	</table>
</div>