{% load mainsearch %}

<fieldset id="formula">
<legend>Formula</legend>

<div id="content-solo">
<div class="hideable">
	<a id="showhidetoggle" href="#" onclick="toggle_visible();">Show Ingredient Filter</a>
	<form action="/django/access/{{flavor.number}}/formula_entry" id="mainsearch" method="GET">
		<div id="advanced-search" class="hidden">
			<ul id="formulaedit-filterselect" class="filterselect_list">
				<li></li>
				{{ filterselect.as_ul }}
				{{ filterexclude.as_ul }}
	    		
	    	</ul>
		</div>
	</form>
</div>


	<form action="" method="POST">
	{{ management_form }}
	<table id="formula-rows" width="100%">
		<tr>
			<th>Ingredient number</th>
			<th>Amount</th>
			<th>Name</th>
			<th>Cost</th>
			<th>Del</th>
		</tr>

		{% for form, label in formula_rows %}
			
		
		<tr class="formula_row">	
			<td class="number-cell">{{ form.ingredient_number.as_text }}</td>
			<td class="amount-cell">{{ form.amount.as_text }}</td>
			<td class="name-cell">{{ label.name }}</td>
			<td class="cost-cell">{{ label.cost }}</td>
			<td class="ingredient_pk-cell" style="display:none">{{ form.ingredient_pk }}</td>
			<td class="del-row"><input type="button" value="X" onclick="delete_row(this.parentNode.parentNode.rowIndex)"></td>
		</tr>
		{% endfor %}
	</table>
	<input id="add-formula-row-button" type="submit" value="Add row" />
	<input id="formula-submit-button" type="submit" value="Submit Formula" />		
	</form>
</fieldset>