{% extends "base.html" %}
{% load blades %}
{% block htmlhead %}
    {% include "htmlhead.html" %}
    <script type="text/javascript" src="/djangomedia/js/formula_filter.js?v=24"></script>
    {% endblock %}
{% block content %}
    <div id="content-right">
		{% blades flavor %}
	</div>
<div id="content-main">
<div id="title-left">
	<span id="name">{{flavor}}</span>
</div>

    <div id="content-main">
		{% if status_message %}
		<h1>{{ status_message }}</h1>
		{% endif %}
		
		{% include "access/flavor/formula_form.html" %}
    </div>

</div>
{% endblock %}