{% extends "base.html" %}
{% load flat_review_table %}
{% load blades %}
{% load related_links %}
{% block content %}

<script type="text/javascript" src="/djangomedia/js/flavor_review.js?v=25"></script>
<script>
jQuery(document).ready(function(){	
	
	$( "#flavor-tabs" ).tabs({ 
		cache: true,
		active: 0,
		spinner: '',
		ajaxOptions: {
			error: function(xhr, status, index, anchor) {
				$( anchor.hash ).html(
					"Failed to load tab."
				);
			}
		}
	});

	$( "#flat-table" ).tablesorter({
			headers: {
			0: {
				sorter: 'link-digit'
			},
			1: {
				sorter: 'text'
			},
			2: {
				sorter: 'text'
			},
			3: {
				sorter: 'text'
			},
			4: {
				sorter: 'digit'
			},
			5: {
				sorter: 'digit'
			},
			6: {
				sorter: 'digit'
			},
			7: {
				sorter: 'shortDate'
			}
	}});
});
</script>

<div id="content-right">
	{% blades flavor %}
	<ul id="flavor_review_print_menu">
		<li><a href="javascript:print_review({{flavor.number}})">Flavor Review</a></li>
		<li><a href="javascript:print_qc({{flavor.number}})">QC Sheet</a></li>
		<li><a href="javascript:spec_sheet({{flavor.number}})">Spec Sheet</a></li>
	</ul>
</div>

<div id="content-main">
	
<div id="title-left">
	<span id="name">{{flavor}}</span>
</div>

{% if status_message %}
<h1 class="status_message">{{ status_message|linebreaksbr }}</h1>
{% endif %}

<div class="product-memo"><span class="label">Memo</span>{{flavor.linked_memo|safe}}</div>
<div class="product-memo"><span class="label">Memo</span>{{flavor.mixing_instructions}}</div>
<div class="product-memo"><span class="label">Pricing Memo</span>{{flavor.pricing_memo}}</div>

<div id="flavor-tabs">
	{% related_links flavor %}
	
	<input type="hidden" id="actual_adjusted_weight" value="1000">

	{% flat_review_table flavor %}
</div>

</div>





<form id="exportform" action="/access/table_to_csv" method="post" target="_blank">
<input type="hidden" id="exportdata" name="exportdata" />
<input type="hidden" id="flavor_number" name="flavor_number" value="{{ flavor.number }}" />
</form>
{% endblock %}

