{% extends "base.html" %}
{% load flat_review_table %}
{% load blades %}
{% load product_tabs %}
{% block content %}

<script type="text/javascript" src="/djangomedia/js/flavor_review.js?v=25"></script>
<script>
jQuery(document).ready(function(){	
   flag = true;
   var $product_tabs = $('#product_tabs');
   $product_tabs.tabs({
    cache:true,
    spinner: '',
    ajaxOptions: {
        error: function(xhr, status, index, anchor) {
            $( anchor.hash ).html("Failed to load tab.");
        }
    },
	activate: function(event, ui)
	{
	    if(!event.originalEvent)
	        return;
		window.location.hash = '#t=' + ui.newTab.find('span').text();
	}
	});
	var $product_tabs_list = $('#product_tabs_list');
	var find_tab_index_by_text = function(tab_text) {
		return $product_tabs_list.find('span').filter(function() {
		    return $(this).text() == tab_text;
		}).closest('li').index();
	};
	$.address.change(function(event)    {
		if(!flag)   {
		    flag = true;
		    return;
		}
		var param = '';
		param = window.location.hash;
		if(param.indexOf('t=') > 0)
		{
		    var regexp = /#t=(.+)/i;
		    var hash = param.match(regexp);
		    if(hash.length > 0)
		    {
		        hash = hash[1];
		        var tab_index = find_tab_index_by_text(hash);
		        $product_tabs.tabs("option", "active", tab_index);
		    }
		} else {
		    $product_tabs.tabs("option", "active", 0);
		}
	});

	$( "#flat-table" ).tablesorter({
			headers: {
			0: {
				sorter: 'link-digit'
			},
			1: {
				sorter: 'text'
			},
			2: {
				sorter: 'text'
			},
			3: {
				sorter: 'text'
			},
			4: {
				sorter: 'digit'
			},
			5: {
				sorter: 'digit'
			},
			6: {
				sorter: 'digit'
			},
			7: {
				sorter: 'shortDate'
			}
	}});
});
</script>

<div id="content-right">
	{% blades flavor %}
	<ul id="flavor_review_print_menu">
		<li><a href="javascript:print_review({{flavor.number}})">Flavor Review</a></li>
		<li><a href="javascript:print_qc({{flavor.number}})">QC Sheet</a></li>
		<li><a href="javascript:spec_sheet({{flavor.number}})">Spec Sheet</a></li>
	</ul>
</div>

<div id="content-main">
	
<div id="title-left">
	<span id="name">{{flavor}}</span>
</div>

{% if status_message %}
<h1 class="status_message">{{ status_message|linebreaksbr }}</h1>
{% endif %}

<div class="product-memo"><span class="label">Memo</span>{{flavor.linked_memo|safe}}</div>
<div class="product-memo"><span class="label">Memo</span>{{flavor.mixing_instructions}}</div>
<div class="product-memo"><span class="label">Pricing Memo</span>{{flavor.pricing_memo}}</div>

<div id="product_tabs">
	{% product_tabs flavor %}
	
	<input type="hidden" id="actual_adjusted_weight" value="1000">

	{% flat_review_table flavor %}
</div>

</div>





<form id="exportform" action="/access/table_to_csv" method="post" target="_blank">
<input type="hidden" id="exportdata" name="exportdata" />
<input type="hidden" id="flavor_number" name="flavor_number" value="{{ flavor.number }}" />
</form>
{% endblock %}

