{% extends "base.html" %}
{% load flat_review_table %}
{% load blades %}
{% load product_tabs %}
{% block content %}

<script type="text/javascript" src="/djangomedia/js/flavor_review.js?v=25"></script>
<script>
jQuery(document).ready(function(){	
	
	
            var tabs,
                tabEvent = false,
                initialTab = 'flat_review_table',
                navSelector = '#product_tabs .ui-tabs-nav',
                navFilter = function(el) {
                    return $(el).attr('href').replace(/^#/, '');
                },
                panelSelector = '#product_tabs .ui-tabs-panel',
                panelFilter = function() {
                    $(panelSelector + ' a').filter(function() {
                        return $(navSelector + ' a[title=' + $(this).attr('title') + ']').size() != 0;
                    }).each(function(event) {
                 

       $(this).attr('href', '#' + $(this).attr('title').replace(/ /g, '_'));
                    });
                };
            
            // Initializes plugin features
            $.address.strict(false).wrap(true);
            
            if ($.address.value() == '') {
                $.address.history(false).value(initialTab).history(true);
            }
            
            // Address handler
            $.address.init(function(event) {

                // Adds the ID in a lazy manner to prevent scrolling
                $(panelSelector).attr('id', initialTab);

                // Enables the plugin for all the content links
                $(panelSelector + ' a').address(function() {
                    return navFilter(this);
                });
                
                panelFilter();

                // Tabs setup
                tabs = $('#product_tabs')
                    .tabs({
                        load: function(event, ui) {
                            // Filters the content and applies the plugin if needed
                            $(ui.panel).html($(panelSelector, ui.panel).html());
                            panelFilter();
                        },
                        fx: {
                            opacity: 'toggle', 
                            duration: 'fast'
                        }
                    })
                    .css('display', 'block');

                // Enables the plugin for all the tabs
                $(navSelector + ' a').click(function(event) {
                	tabEvent = true;
                    $.address.value(navFilter(event.target));
                    tabEvent = false;
                    return false;
                });
            
            }).change(function(event) {

                var current = $('a[href=#' + event.value + ']:first');
                
                // Sets the page title
                $.address.title($.address.title().split(' | ')[0] + ' | ' + current.text());

                // Selects the proper tab
                if (!tabEvent) {
                    tabs.tabs('select', current.attr('href'));
                }
                
            });

            // Hides the tabs during initialization
            //document.write('<style type="text/css"> #product_tabs { display: none; } </style>');

	$( "#flat-table" ).tablesorter({
			headers: {
			0: {
				sorter: 'link-digit'
			},
			1: {
				sorter: 'text'
			},
			2: {
				sorter: 'text'
			},
			3: {
				sorter: 'text'
			},
			4: {
				sorter: 'digit'
			},
			5: {
				sorter: 'digit'
			},
			6: {
				sorter: 'digit'
			},
			7: {
				sorter: 'shortDate'
			}
	}});
});
</script>

<div id="content-right">
	{% blades flavor %}
	<ul id="flavor_review_print_menu">
		<li><a href="javascript:print_review({{flavor.number}})">Flavor Review</a></li>
		<li><a href="javascript:print_qc({{flavor.number}})">QC Sheet</a></li>
		<li><a href="javascript:spec_sheet({{flavor.number}})">Spec Sheet</a></li>
	</ul>
</div>

<div id="content-main">
	
<div id="title-left">
	<span id="name">{{flavor}}</span>
</div>

{% if status_message %}
<h1 class="status_message">{{ status_message|linebreaksbr }}</h1>
{% endif %}

<div class="product-memo"><span class="label">Memo</span>{{flavor.linked_memo|safe}}</div>
<div class="product-memo"><span class="label">Memo</span>{{flavor.mixing_instructions}}</div>
<div class="product-memo"><span class="label">Pricing Memo</span>{{flavor.pricing_memo}}</div>

<div id="product_tabs">
	{% product_tabs flavor %}
	
	<input type="hidden" id="actual_adjusted_weight" value="1000">

	{% flat_review_table flavor %}
</div>

</div>





<form id="exportform" action="/access/table_to_csv" method="post" target="_blank">
<input type="hidden" id="exportdata" name="exportdata" />
<input type="hidden" id="flavor_number" name="flavor_number" value="{{ flavor.number }}" />
</form>
{% endblock %}

