{% extends "base.html" %}

{% block content %}
	
<div id="content-solo">
	{% if status_message %}
	<h1>{{ status_message }}</h1>
	{% endif %}
	<div id="flavorsearch">
	<form action="" method="GET">
	    <div id="keywordsearch">{{ search.as_ul }}</div>
	    <div id="search-filters">
	    	<ul class="filterselect_list">{{ filterselect.as_ul }}
	    		<li><input type="submit" value="Filter Flavors" /></li>
	    	</ul>
	    </div>
	</form>
	</div>
	<div id="pagination-bar">
	{% include "pagination_bar.html" %}
	</div>
	  {{ new_filter.form.as_p }}
	<div id="flavor-list"> 
		
		{% if list_items %}
		<table width="100%" class="sorttable">
			<thead><tr>
				<th width="12px">PF</th>
				<th width="50px">Number</th>
				<th width="30px">N/A</th>
				<th>Name</th>
				<th>Type</th>
				<th width="86px">Raw material cost</th>
				<th width="86px">Price update</th>
				<th width="80px">Solvent</th>
				<th width="30px">Valid</th>
				<th width="30px">Appproved</th>
				<th width="30px">Sold</th>
			</tr></thead>
			<tbody>
		    {% for flavor in list_items.object_list %}
		    <tr id="{{ flavor.number }}">
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.prefix }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.number }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.natart }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.name }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.label_type }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.rawmaterialcost }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.lastspdate|date:"Y-m" }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{{ flavor.solvent }}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{% if flavor.valid %}<img src="/djangomedia/images/Icons/001_06.png">{% else %}<img src="/djangomedia/images/Icons/001_05.png">{% endif %}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{% if flavor.approved %}<img src="/djangomedia/images/Icons/001_06.png">{% else %}<img src="/djangomedia/images/Icons/001_05.png">{% endif %}</a></td>
		    	<td><a href="/django/access/{{ flavor.number }}">{% if flavor.sold %}<img src="/djangomedia/images/Icons/001_06.png">{% else %}<img src="/djangomedia/images/Icons/001_05.png">{% endif %}</a></td>
		    </tr>
		    {% endfor %}
		    </tbody>
		</table>
		{% else %}
		<p>No list_items available</p>
		{% endif %}
		<div id="pagination-bar">
		{% include "pagination_bar.html" %}
		</div>
	</div>
</div>
{% endblock %}
