<script>
jQuery(function() {
	consolidate();
	$("#exploded").treeTable();
	collapse_all();
});
</script>

<span class="table_action_links"><A HREF="javascript:collapse_all()">collapse</A> |  <A HREF="javascript:expand_all()">expand</A> |  <A HREF="/django/access/{{ number }}/formula_entry/">edit</A> | <A HREF="javascript:consolidate(); $('#consolidated').table2CSV()">spreadsheet</A> |  <A href="javascript:flavor_review_popup({{ flavor.number }})">batch sheet</A></span>
<table id="exploded" width="100%" class="tab_data">
	<caption>Interactive Explosion</caption>
    <thead>
        <tr>
        {% autoescape off %}
        {% for header, headername, tag_properties in headers %}
            <th {{ tag_properties }}>{{ headername }}</th>
        {% endfor %}
        {% endautoescape %}
        </tr>
    </thead>
{% for row in rows %}
    {% if row.parent_id %}
    <tr id="{{ row.row_id }}" class="child-of-{{ row.parent_id }} {{ row.ing_type }} {{ row.ing_type }}-{{ row.obj_id }} child">
    {% else %}
    <tr id="{{ row.row_id }}" class="{{ row.ing_type }} {{ row.ing_type }}-{{ row.obj_id }}">
    {% endif %}
    {% autoescape off %}
    {% for cell in row.cells %}
        <td>{{ cell }}</td>
    {% endfor %}
    {% endautoescape %}
    </tr>
{% endfor %}
</table>

<span id="consolidated-table">
</span>