{% extends "base.html" %}

{% block content %}

<style type="text/css"><!--
.errorlist {
display:none;
}
--></style>

<div id="title">
	
</div>

<div id="content-main">
	{% if status_message %}
		<h1>{{ status_message }}</h1>
		{% endif %}
	<form id="new-experimental-form" action="/access/new_experimental/" method="post">
		{{ management_form }}
		<div id="special-info">
			<fieldset>
				<legend>Flavor Info</legend>
				{{ flavorform.as_p }}
			</fieldset>
		</div>
		{% for fieldset in experimentalform.iter_fieldsets %}
			<div id="{{ fieldset.extra_content.divid }}">
				<fieldset>
					<legend>{{ fieldset.extra_content.divid }}</legend>
					{% for field in fieldset %}
					<p><label>{{ field.label }}</label>{{field}}</p>
					{% endfor %}
				</fieldset>
			</div>
		{% endfor %}
		{% include "access/flavor/formula_form.html" %}
	</form>
</div>

<div id="content-right">
	
</div>
{% endblock %}