<div id="retains">
	<form name="retain_selections" action="/django/qc/batch_print/" method="post">
    <table class="sorttable tab_data" width="100%">
    <thead>
	<tr class="qcheaders">
		<th width="15px">Select</th>
	    <th>Retain</th>
	    <th>Lot</th>
		<th>Date</th>
	    <th>Amount</th>
	    <th class="sorttable_nosort">Status</th>
	    <th class="sorttable_nosort">Notes</th>
	</tr>
	</thead>
	{% for retain in object_list %}
	    <tr>
	    <td><input type="checkbox" name="flavor_numbers" value="{{ retain.lot.flavor.pk }}" {% if checkall %}checked{% endif %}></td>
		<td><a href="{{retain.get_admin_url}}">{{ retain.retain }}</a></td>
		<td><a href="/django/qc/lots/{{ retain.lot.pk }}/">{{ retain.lot.number }}</a></td>
		<td>{{ retain.date|date:"Y-m-d" }}</td>
		<td>{{ retain.lot.amount|floatformat:0 }}</td>
		<td>{{ retain.status }}</td>
		<td>{{ retain.notes }}</td>
	    </tr>
	{% endfor %}
    </table>
	</form>
</div>