<script type="text/javascript">
function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 100 + 'px';
  }
</script>

<head>
	<link rel="stylesheet" type="text/css" href="/static/css/mattcss.css" />
</head>

{% if flavor.reconciled %}
	<h2><a href="{{ flavor.get_specs_url }}"> Edit Specs </a></h2>
	<h2><a href="{{ flavor.get_reconcile_specs_url }}"> Reconcile Specs </a> </h2>
{% else %}
	<h2><a href="{{ flavor.get_reconcile_specs_url }}"> Reconcile Specs </a> </h2>
	<h3 class="redtext"> This flavor's specifications have not yet been reconciled.</h3>
{% endif %}

<br>

<!-- {% if customer_table %}
<h3> Customers who have ordered this flavor: </h3>

	<table>
		<thead>
			<tr>
				<th>
					Customer
				</th>
				<th>
					Customer Specs
				</th>
				<th>
					Customer Details
				</th>
				<th>
					Customer Spec Sheet
				</th>
			</tr>
		</thead>
		
		<tbody>
		{% for customer, spec_count, customer_url, specsheet_url in customer_table %}
			<tr>
				<td class="customer_name" width ="25%"> {{ customer.companyname }} </td>
				<td class="spec_count" width ="25%"> {{ spec_count }} </td>
				<td class="micro" width ="25%"> <a href="{{ customer_url }}"> Customer Page </a> </td>
				{% if specsheet_url %}
					<td class="micro" width ="25%"> <a href="{{ specsheet_url }}"> View </a> </td>
				{% else %}
					<td class="spec_count" width ="25%"> Same as Below </td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endif %} -->

<h3> Specifications </h3>

	<table>
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Specification
				</th>
			</tr>
		</thead>
		
		<tbody>
		{% for spec in specs %}
			<tr>
				<td class="spec_name" width ="25%"> {{ spec.name }} </td>
				<td class="specification" width ="25%"> {{ spec.specification }} </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% if micro_specs %}
	<h3> Microbiological Specifications </h3>
	
		<table>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Specification
					</th>
				</tr>
			</thead>
			
			<tbody>
			{% for spec in micro_specs %}
				<tr>
					<td class="spec_name" width ="25%"> {{ spec.name }} </td>
					<td class="specification" width ="25%"> {{ spec.specification }} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
{% endif %}

<!-- <div class="spec_sheet">

	<iframe width="1100px" height="600px" src="/access/flavor/{{flavor.number}}/spec_sheet/" style="transform:translate(-150px,-70px) scale(0.7);" onload='javascript:resizeIframe(this);'></iframe>

</div> -->