{% extends "base.html" %}
{% load qstring %}
{% load mainsearch %}

{% block content %}

<div id="content-solo">

<div>
	<form action="/django/mysearch/access/new_pin_flavor/" id="mainsearch" method="GET">
		<div id="advanced-search" >
			<div>{% new_pin_flavor_search %}<input type="submit" value="Filter Results"></div>
			<ul class="filterselect_list">
				<li>{{ filterselect.as_ul }}</li>
				
	    		
	    	</ul>
		</div>
	</form>
</div>
<div id="pagination-bar">
	{% include "pagination_bar.html" %}
</div>
<div id="object-list">
	{% if rows %}
	<table width="100%">
		<thead><tr>
			{% autoescape off %}
			{% for header in headers %}
				{% if header.0 == get.order_by %}			
				<th {{header.2}}><a href="?order_by=-{{ header.0 }}&{% sparse_qstring %}">{{header.1}}</a></th>
				{% else %}
				<th {{header.2}}><a href="?order_by={{ header.0 }}&{% sparse_qstring %}">{{header.1}}</a></th>
				{% endif %}
			{% endfor %}
			{% endautoescape %}
		</tr></thead>
		<tbody>
	    {% for object, fields in rows %}
	    <tr id="{{ object.pk }}">
	    	{% for field in fields %}
			<td><a href="/django/access/new_rm/flavor/{{ object.number }}">{{ field }}</a></td>
			{% endfor %}
	    </tr>
	    {% endfor %}
	    </tbody>
		<tfoot><tr>
			{% autoescape off %}
			{% for header in headers %}
				{% if header.0 == get.order_by %}			
				<th {{header.2}}><a href="?order_by=-{{ header.0 }}&{% sparse_qstring %}">{{header.1}}</a></th>
				{% else %}
				<th {{header.2}}><a href="?order_by={{ header.0 }}&{% sparse_qstring %}">{{header.1}}</a></th>
				{% endif %}
			{% endfor %}
			{% endautoescape %}
		</tr></tfoot>
	</table>
	{% else %}
	<p>No rows available</p>
	{% endif %}
	{% include "pagination_bar.html" %}
</div>
</div>
{% endblock %}