{% extends "base.html" %}
{% load dashboard %}
{% block toolbar %}
{{ block.super }}
<a href="../add_rm_retains/" title="Add Retains"><img src="/djangomedia/images/Icons/16x16/add.png"></a>
{% endblock toolbar %}

{% block content %}

    <div id="content-right">
		<ul>
			<li><a href="/django/qc/rm_retains/">Latest</a></li>
		{% for month in month_list %}
			<li><a href="/django/qc/rm_retains/{{ month|date:'Y/m' }}/">{{ month|date:'F Y' }}</a></li>
		{% endfor %}
		</ul>
	</div>
    <div id="content-main">
    <div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>
	
	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
	
    <form name="retain_selections" action="/django/qc/batch_print/" method="post">
    <table class="sorttable" class="retaintable" width="100%">
    <caption><a id="select_all" href="#">Select All</a> | <a id="select_none" href="#">Clear</a></caption>	
	<tr class="qcheaders">
		<th width="15px">Select</th>
	    <th width="40px">RNum</th>
	    <th width="40px">Pin</th>
	    <th>NA</th>
	    <th>Name</th>
	    <th width="100px">Supplier</th>
	    <th width="100px">Lot</th>
		<th width="75px">Date</th>
	    <th class="sorttable_nosort" width="50px">Status</th>
	    <th width="50px">Scanned</th>
	</tr>
	{% for retain in object_list %}
	    <tr>
	    <td><input type="checkbox" name="retain_pks" value="{{ retain.pk }}" {% if checkall %}checked{% endif %}></td>
			<td>
			<a href="{{ retain.get_admin_url }}">{{ retain.r_number }}</a>
			</td>
		<td><a href="/django/access/ingredient/pin_review/{{ retain.pin }}/">{{ retain.pin }}</a></td>
		<td>{{ retain.related_ingredient.art_nati }}</td>
		<td>{{ retain.related_ingredient.name }}</td>
		<td><a href="/django/qc/rm_retains/supplier/{{retain.supplier}}/">{{ retain.supplier }}</a></td>
		<td>{{ retain.lot }}</td>
		<td><a href="/django/qc/rm_retains/{{retain.date|date:'Y'}}/{{retain.date|date:'m'}}/{{retain.date|date:'d'}}/">{{ retain.date|date:"Y-m-d" }}</a></td>
		<td><a href="/django/qc/rm_retains/{{retain.status}}/">{{ retain.status }}</a></td>
		{% if retain.rmtestcard_set.all.count > 0 %}
			<td class="tc_present cell_icon"><img src="/djangomedia/images/Icons/16x16/accept.png">
		{% else %}
			<td class="tc_missing cell_icon"><img src="/djangomedia/images/Icons/16x16/delete.png"></td>
		{% endif %}
		</td>
	    </tr>
	{% endfor %}
    </table>
	</form>
	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>
	
	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
    </div>
{% endblock %}
