{% extends "base.html" %}
{% load blades %}
{% load related_links %}
{% load rm_history %}
{% block htmlhead %}
    {% include "htmlhead.html" %}
    <script type="text/javascript" src="/djangomedia/js/update_raw_materials.js"></script>
    <script>
	jQuery(document).ready(function(){	
		
		$( "#product_tabs" ).tabs({ 
			cache: true,
			active: 0,
			spinner: '',
			ajaxOptions: {
				error: function(xhr, status, index, anchor) {
					$( anchor.hash ).html(
						"Failed to load tab."
					);
				}
			}
		});
	});
		</script>
{% endblock %}
{% block content %}


<div id="content-right">
	{% blades highlighted_ingredient %}
</div>

<div id="content-main">
	<div id="title-left">
		<span id="name">{{highlighted_ingredient.id}} - {{highlighted_ingredient.art_nati}} {{ highlighted_ingredient.prefix }} {{ highlighted_ingredient.product_name }} {{ highlighted_ingredient.part_name2 }}</span>
	</div>
	
	
	<div class="product-memo"><span class="label">Memo</span>{{highlighted_ingredient.memo}}</div>
	
	<div id="rm_id" style="display:none">{{ highlighted_ingredient.id }}</div>
	{% if updated_flavors %}
		<div id="flavor-price-delta" >
		<table width="100%" class="sorttable">
			<caption>Flavor price changes</caption>
			<thead>
				<tr>
					<th title="Two-character prefix">Pf</th>
					<th title="Flavor Number" class="{sorter: 'link-digit'}">Num</th>
					<th title="Nat-Art Label" class="{sorter: 'text'}" width="26px">N-A</th>
					<th>Name</th>
					<th>Type</th>
					<th width="60px" title="New Cost - Old Cost" class="{sorter: 'digit'}">Delta</th>
					<th title="old Raw Material Cost" class="{sorter: 'digit'}">Old RMC</th>
					<th title="New Raw Material Cost" class="{sorter: 'digit'}">New RMC</th>
					<th title="Sale Price" class="{sorter: 'digit'}">Sale $</th>
					<th title="Profit Margin" class="{sorter: 'digit'}">PM</th>
				</tr>
			</thead>
			<tbody>
				{% for f, prices in updated_flavors.items %}
				<tr>
					<td>{{ f.prefix }}</td>
					<td><a href="/access/{{ f.number }}/">{{ f.number }}</a></td>
					<td>{{ f.natart }}</td>
					<td>{{ f.name }}</td>
					<td>{{ f.label_type }}</td>
					<td>{{ prices.2 }}</td>
					<td>{{ prices.0 }}</td>
					<td>{{ prices.1 }}</td>
					<td>{{ f.unitprice }}</td>
					<td>{{ prices.3 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% endif %}
	
	<div id="product_tabs">
		{% related_links highlighted_ingredient %}
	</div>
	
	<div id="ingredient-detail">
		

		<form id="ingredient-pin-price-update" action="/access/ingredient/pin_review/{{ highlighted_ingredient.id }}/" method="post">
			{{icu.as_p}}
			<input type="submit" value="Update unit price">
		</form>
		
		<table width="100%" id="rm-by-code">
			<caption>
				<p style="text-align:left;">
					Raw Material Details by Raw Material Code
					<!-- <span style="float:right;"><a href="/access/ingredient/pin_review/{{ highlighted_ingredient.id }}/update_raw_materials/"> Discontinue/Activate Raw Materials </a></span> -->
				</p>
			</caption>
			
			<thead>
				<tr>
				{% for header in table_headers %}
					<th>{{ header }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for ingredient in ingredients %}
				{% if ingredient.discontinued %}
				<tr class="discontinued">
				{% else %}
				<tr class="active">
				{% endif %}
					<td class="rm_code"><a href="/access/ingredient/{{ ingredient.rawmaterialcode }}/">{{ ingredient.rawmaterialcode }}</a></td>
					<td>{{ ingredient.art_nati }}</td>
					<td>{{ ingredient.prefix }} {{ ingredient.product_name }} {{ ingredient.part_name2 }}</td>
					<td>{{ ingredient.description }}</td>
					<td>{{ ingredient.suppliercode }}</td>
					<td>{{ ingredient.unitprice }}</td>
					<td>{{ ingredient.purchase_price_update|date:"Y-m" }}</td>
					<td>{{ ingredient.kosher }}</td>
					<td>
						{% if ingredient.discontinued %}
							<input type="radio" name="activate" />
						{% else %}
							<input type="radio" name="activate" checked/>
						{% endif %}
					</td>

				</tr>
			{% endfor %}
			{% if all_discontinued %}
			<tr class="active">
				<td align="center" colspan=8> ALL DISCONTINUED </td>
				<td> <input type="radio" name="activate" checked /> </td>
			{% else %}
			<tr class="discontinued">
				<td align="center" colspan=8> ALL DISCONTINUED </td>
				<td> <input type="radio" name="activate" /> </td>
			{% endif %}
				<td class="ingredient_id-cell" style="display:none">{{ highlighted_ingredient.id }}</td>
			</tr>
			</tbody>
		</table>	
		<button id="update-submit-button" type="button" style="float:right"> Activate/Discontinue </button>
		
		{% if all_discontinued %}
			<br/><br/>
		
			<table border="1" width=60% id="discontinued_flavors">
				<caption>
					The flavors below contain this discontinued ingredient.
				</caption>
				
				<thead>
					<tr>
						<th>Flavor</th>
						<th>Raw Material Amount</th>
					</tr>
				</thead>
				
				<tbody>
					{% for flavor, weight in discontinued_flavors %}
					<tr align="center" >
						<td><a href="/access/{{ flavor.number }}/">{{ flavor }}</a></td>
						<td>{{ weight }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		
			<br/><br/>
		{% endif %}
		
		
	</div>
	<div id="retain_history">
		{% rm_history highlighted_ingredient.id %}
	</div>
</div>

{% endblock %}

