{% load qstring %}
{% load explosion_print %}
{% csrf_token %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="/djangomedia/css/explosion_base.css?v=25" type="text/css" rel="stylesheet">
	<link href="/djangomedia/css/explosion_print.css?v=25" type="text/css" rel="stylesheet" media="print">
	<link href="/djangomedia/css/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/djangomedia/js/jquery-1.4.2.min.js?v=25"></script>
	<script type="text/javascript" src="/djangomedia/js/jquery-ui-1.8.18.custom.min.js?v=25"></script>
	<script type="text/javascript" src="/djangomedia/js/jquery.tablesorter.min.js?v=25"></script>
	<script type="text/javascript" src="/djangomedia/js/batchsheet.js"></script>
	
    <title>{{ page_title }}

    	
    </title>

</head>

<body>
	<div id="outermost">
		<div id="coverpage" class="batchsheet">
			<table class="outer">
				<thead>
					<tr>
						<th colspan="2">
							<span class="section_span" id="titleleft">
								{{ lot.flavor }}<br>

								<span class="sub_heading">
								<span class="section_title">Amount:</span> {{ batch_amount|floatformat:3 }} lbs, <span class="section_title">Yield:</span> {{ flavor.yield_field }}%<br>
								<span class="section_title">No. of ingredients:</span> {{ flavor.formula_set.all.count }}
								</span>
							</span>
							{% if lot %}
							<span class="section_span" id="titleright">
								<img src="/django/batchsheet/barcode/{{ lot.number }}/" align="top" />
								<span id="lot_number">
									Lot number<br>
									{{ lot.number }}
								</span>
							</span>
							{% endif %}
							<span class="section_span" id="titlecenter">{{ lot.date|date:"D d-M-y" }}</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="50%">
							<span class="section_title">Memo:</span><br>
							{{ flavor.productmemo }}
						</td>
						<td width="33%" id="ccp_sidebar">
							{% if flavor.ccp1 %}
								Sieve CCP 1 Recorded: [ ]<br>
								Sieve is inspected PRE and POST OP<br>
							{% else %}
							{% endif %}
							{% if flavor.ccp2 %}
								Allergen Cleaning CCP 2 Recorded: [ ]<br>
							{% else %}
							{% endif %}
							{% if flavor.ccp4 %}
								Label Application CCP 4 Recorded: [ ]<br>
								Labels expected: _______<br><br>
								Labels received: _______<br><br>
								Labels applied: ________<br><br>
							{% else %}
							{% endif %}
							{% if flavor.ccp6 %}
								Thermal Kill Step CCP 6 Recorded: [ ]<br>
							{% else %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<span class="flavor_property"><span class="section_title">Flash point:</span>
																	{% if flavor.flashpoint %}
																		{{ flavor.flashpoint }}
																	{% else %}
																		UNAVAILABLE
																	{% endif %}
							</span>									
							<span class="flavor_property"><span class="section_title">Allergens:</span> {{ flavor.allergen }}
																			{% if flavor.crustacean %}
																				CRUSTACEANS
																			{% else %}
																			{% endif %}
																			{% if flavor.eggs %}
																				EGGS
																			{% else %}
																			{% endif %}
																			{% if flavor.fish %}
																				FISH
																			{% else %}
																			{% endif %}
																			{% if flavor.milk %}
																				DAIRY
																			{% else %}
																			{% endif %}
																			{% if flavor.peanuts %}
																				PEANUTS
																			{% else %}
																			{% endif %}
																			{% if flavor.soybeans %}
																				SOYBEANS
																			{% else %}
																			{% endif %}
																			{% if flavor.treenuts %}
																				TREENUTS
																			{% else %}
																			{% endif %}
																			{% if flavor.wheat %}
																				WHEAT
																			{% else %}
																			{% endif %}
																			{% if flavor.sulfites %}
																				SULFITES
																			{% else %}
																			{% endif %}
								</span>	
								<span class="flavor_property"><span class="section_title">Micro test:</span> {{ flavor.microtest }}
								</span>	
						</td>
					</tr>
					
							
					<tr>
						<td width="50%" class="checklist_cell">
							PRE OP<br><br>
							All utensils and equipment are checked by visual inspection.
							Always start with utensils and equipment that are in good condition, free of 
							potential contaminants including allergens, and sanitized.<br><br>
							All labels and boxes have been counted.<br><br>
							Pages of this document have been counted.
						</td>
						<td width="50%"  class="checklist_cell">
							POST OP<br><br>
							Sieves/filters are intact and do not contain abnormal foreign matter.<br><br>
							All labels are accounted for and affixed to product containers.<br><br>
							Retain sample taken, label applied and dropped off for QC pickup.<br><br>
							All utensils and equipment cleaned and sanitzied.
						</td>
					</tr>
					<tr>
						<td width="50%" class="signature_cell">
							<span class="section_title">Signed:</span> _______________________________________<br><br><br><br>
							<span class="section_title">Date:</span> _______________________________________
						</td>
						<td width="50%" class="signature_cell">
							<span class="section_title">Signed:</span> _______________________________________<br><br><br><br>
							<span class="section_title">Date:</span> _______________________________________
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="newpage batchsheet">
			{% explosion_print_lot lot %}
		</div>
		{% for component, weight in component_dict.items %}
		<div class="newpage batchsheet">
			{% explosion_print_component lot component weight %}
		</div>
		{% endfor %}
	</div>
</body>
</html>