{% extends "base.html" %}

{% block htmlhead %}
{% include "htmlhead.html" %}
<!-- <script type="text/javascript" src="/djangomedia/js/sales_order_production.js?v=25"></script> DO NOT USE-->
{% endblock %}

{% block content %}

{% if status_message %}
	<h1>{{ status_message }}</h1>
{% endif %}

<div id="flavorsearch">
	
</div>

<div id="content-main">
	<a id="select_all" href="#">Select All</a> | <a id="select_none" href="#">Clear</a>
	<form name="salesorder_selections" action="/django/batchsheet/add_lots/" method="get">
	    {% csrf_token %}
	
	<table id="sales_order-rows" width="100%" class="sorttable">
		<thead>
			<tr>
				<th title="Select Box">Select</th>
				<th title="Flavor Number" class="{sorter: 'link-digit'}">Num</th>
				<th title="Weight Ordered" class="{sorter: 'link-digit'}">Weight</th>
				<th class="{sorter: 'link-digit'}" title="Unit Raw Material Cost">Unit $</th>
				<th class="{sorter: 'link-digit'}" title="Total Raw Material Cost">Total $</th>
				<th>Details</th>
			</tr>
		</thead><tbody>
		{% for order in orders %}
		{% if order.contains_discontinued_ingredients %}
			<tr id="{{ order.0 }}" class="discontinued" title="{{order.discontinued_ingredients}}" bgcolor="#FF0000">
		{% else %}
			<tr id="{{ order.0 }}">
		{% endif %}
			<td>
				<input type="checkbox" name="flavor_pks" value="[{'flavor_number':'{{order.flavor.number}}', 'amount':'{{order.total}}'}]"{% if checkall %}checked{% endif %}>
			</td>
			<td class="number-cell">
				<a href="/django/access/{{ order.flavor.number }}?wf={{ order.total }}">{{ order.flavor.number }}</a>
			</td>
			<td>
				{{ order.total }}
			</td>
			<td>
				{{ order.flavor.rawmaterialcost }}
			</td>
			<td>
				{{ order.totalcost }}
			</td>
			<td>	
			{% for detail in order.details %}
				<a href="/django/salesorders/{{ detail.salesordernumber.number }}/">{{ detail }};</a>
			{% endfor %}
			</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
	</form>
</div>

</form>
{% endblock %}

