{% extends "base.html" %}
{% load adminmedia %}
{% block htmlhead %}
{{ block.super }}
<script type="text/javascript">
window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/djangoadminmedia/js/core.js"></script>
<script type="text/javascript" src="/static/js/experimental_label_edit.js"></script>
<link rel="stylesheet" type="text/css" href="/djangoadminmedia/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/djangoadminmedia/css/widgets.css"/>
<link href="/static/css/wizard.css?v=25" type="text/css" rel="stylesheet" media="screen">
{{experimental_name_form.media}}
{% endblock %}
{% block content %}


<div id="content-left-half">
	
	<form id="new-experimental-form" action="/access/experimental/{{experimental.experimentalnum}}/name_edit/" method="post">
		{% csrf_token %}
		{{ management_form }}
		{{ experimental_name_form.errors}}
		{{experimental_name_form.non_field_errors}}
		{% for hidden in experimental_name_form.hidden_fields %}
		{{hidden}}
		{%endfor%}
		{% for fieldset in experimental_name_form.iter_fieldsets %}
		<div id="{{ fieldset.extra_content.divid }}">
			<fieldset>
				<legend>{{ fieldset.extra_content.legend }}</legend>
				{% for field in fieldset %}
				<p class="field-p {% if field.field.required %}required_field{% endif %}"><label class="field">{{ field.label }}</label> {{field}}</p>
				{% endfor %}
			</fieldset>
		</div>	
		{% endfor %}
		<p align="right"><input id="submit-button" type="submit" value="Submit Changes" />
	</form>

	
</div>

<div id="content-right-half">
	<h1>The product label will appear as follows:</h1>
	<div id="product-label">
		<span id="product-label-natart" class="no-user-data-yet">[NatArt]</span>
		<span id="product-label-name" class="no-user-data-yet">[Name]</span>
		<span id="product-label-category" class="no-user-data-yet">[Category]</span>
	</div>
</div>
{% endblock %}