<fieldset id="formula">
<legend>Formula</legend>
	<form action="" method="POST">
		{% csrf_token %}
	{{ management_form }}
	<table id="formula-rows" width="100%">
		<tr>
			<th>Ingredient number</th>
			<th>Amount</th>
			<th>Name</th>
			<th>Cost</th>
			<th>Del</th>
		</tr>
		{% for form, label in formula_rows %}
		{% if form.errors %}
		<tr bgcolor="#FF0000">
			<td colspan="5"><b>	 Please correct the error(s) in the following row. {{form.non_field_errors}}</b></td>
		</tr>
		{% endif %}
		<tr class="formula_row">
			<td class="number-cell">{{ form.ingredient_number.as_text }}{{ form.ingredient_number.errors }}</td>
			<td class="amount-cell">{{ form.amount.as_text }}{{ form.amount.errors}}</td>
			<td class="name-cell">{{ label.name }}</td>
			<td class="cost-cell">{{ label.cost }}</td>
			<td class="ingredient_pk-cell" style="display:none">{{ form.ingredient_pk }}</td>
			<td class="del-row"><input type="button" value="X" onclick="FORMULA_EDIT.delete_row(this.parentNode.parentNode.rowIndex)"></td>
		</tr>
		{% endfor %}
	</table>
	<input id="add-formula-row-button" type="submit" value="Add row" />
	<input id="formula-submit-button" type="submit" value="Submit Formula" />
	<input id="normalize-button" type="submit" value="Normalize weight to 1000" onclick="return FORMULA_EDIT.normalize_weight();"/>	
	</form>
</fieldset>