{% autoescape off %}
<div id="blades">
	<div id="critical">
		<ul>
		{% for label, datum, update_link in crit_list %}
			
			{{ update_link }}
			<li>
			<span class="label">{{ label }}</span>
			<span class="datum" id="{{label|cut:" "}}">{{ datum }}</span>
			</li>
			{% if update_link %}
			</a>
			{% endif %}
			
		{% endfor %}
			{% if product_info.location_code %}
			<li>
				<span class="label">Location Code</span>
				<span class="datum">{{ product_info.location_code }}</span>
			</li>
			{% endif %}
		</ul>
	</div>
	
	<div id="flavor-info">		
		<ul>
			
			
		{% for label, datum in flavor_info_list %}
			<li>
			<span class="label">{{ label }}</span>
			<span class="datum">{{ datum }}</span>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% if ex_link %}
	<div id="applicable-info">
		<ul>
		{% for label, datum in applicable_info_list %}
			<li>
			<span class="label">{{ label }}</span>
			<span class="datum">{{ datum }}</span>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
		{% endautoescape %}