{% extends "base.html" %}

{% block content %}
<h2>New Raw Material Wizard</h2>

<p>
	<ul>
		<li>
			<h2><a href="/access/new_rm/basic/">Basic New Raw Material</a>
		</li>
		<li>
			<h2><a href="/mysearch/access/alternate_rm/?search_space=ingredient&search_string=">Alternate Supplier</a>
		</li>
		<li><h2><a href="/mysearch/access/new_pin_flavor/?search_space=flavor&search_string=">Register pin for an FDI flavor -- gazinta</a></li>
		<li><h2><a href="/access/new_rm/solution_starter/">Solution</a></li>
	</ul>
</p>
{% endblock %}