{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href='/static/css/training.css'/>
</head>
<!-- <style>
  ol li ul li{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ol{
    font-size: 12px;
  }
</style> -->
{% for a in answers %}
  {{a}}
{% endfor %}
<!-- <img src="../../static/images/batchsheet.jpg" height="750" width="750"> -->
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRmsuCLsEqZpaMZQpiqddlWASV85EOJTXrsTzfl-SSHxiHxkcU0Qb7iM12iuaqBH2ahqK_SJD4RHlEW/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1100" height="647" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
Please answer the following questions:
</p>
<form method='POST'>
  {% csrf_token %}
<h3>BATCH SHEET</h3>
  <ol>
    <li>
      If there is a microsensitive raw material used in the flavor, the lot number of the ingredient is written by hand on the formula
      <ul>
        <li><input type="radio" name='ccp_1' value='true' required/> True </li>
        <li><input type="radio" name='ccp_1' value='false'/> False</li>
      </ul>
    </li>


    <li>
      What allergen is found in this product?
      <ul>
        <li><input type='text' name='ccp_2' required/></li>
      </ul>
    </li>


    <li>
      Where is the above allergen located?
      <ul>
        <li><input type='radio' name='ccp_3' value='a' required/> With the other allergen powders</li>
        <li><input type='radio' name='ccp_3' value='b'/> Production Lab and Production Isolation areas</li>
        <li><input type='radio' name='ccp_3' value='c'/> In the Stench Fridge</li>
      </ul>
    </li>

    <li>
      The pre-op statement is signed by the compounder and dated after every batch.

        <ul>
          <li><input type="radio" name='ccp_4' value='true' required/> True </li>
          <li><input type="radio" name='ccp_4' value='false'/> False</li>
        </ul>

    </li>


    <li>
      The Sieve CCP 1 is on every batch sheet this means:   All batches must pass through a screen, sieve, paper filter or something else to prevent foreign matter from getting into the final product.
      <ul>
        <li><input type="radio" name='ccp_5' value='true' required/> True </li>
        <li><input type="radio" name='ccp_5' value='false'/> False</li>
      </ul>
    </li>

    <li>
      If the sieve is seen to be broken,
      <ul>
        <li><input type='radio' name='ccp_6' value='a' required/> Report it to Supervisor</li>
        <li><input type='radio' name='ccp_6' value='b'/> Replace the Sieve</li>
        <li><input type='radio' name='ccp_6' value='c'/> Re-sieve the batch</li>
        <li><input type='radio' name='ccp_6' value='d'/> All of the above.</li>
      </ul>
    </li>


    <li>
      CCP2 Allergen Cleaning  involves Visual Inspection
      <ul>
        <li><input type='radio' name='ccp_7' value='true' required/> True</li>
        <li><input type='radio' name='ccp_7' value='false'/> False</li>
      </ul>
    </li>

    <li>
      Label application CCP 4 shows up when there is an allergen.
      <ul>
        <li><input type='radio' name='ccp_8' value='a' required/>  Labels are counted and the allergen statement is compared with the allergen statement on the batch sheet. If there is a discrepancy, the supervisor should be called immediately.</li>
        <li><input type='radio' name='ccp_8' value='b'/>  All labels are counted even if it is not an allergen according to the pre-op sheet. Also the Flavor Number, name and all other information is compared to the batch sheet number, information and name as well.</li>
        <li><input type='radio' name='ccp_8' value='c'/> If there is no allergen shown on the label this is a non-conformity and the supervisor should be called immediately.</li>
        <li><input type='radio' name='ccp_8' value='d'/> All of the above.</li>
      </ul>
    </li>


    <li>
      Thermal Kill Step CCP 6 - Is designed to destroy most pathogenic microorganisms. How is this achieved?
      <ul>
        <li><input type='radio' name='ccp_9' value='a' required/> Product is heated for 10 minutes at 160 degrees</li>
        <li><input type='radio' name='ccp_9' value='b'/> Product is heated for 15 minutes at 160 degrees</li>
        <li><input type='radio' name='ccp_9' value='c'/> Product is heated for 15 minutes at 150 degrees</li>
        <li><input type='radio' name='ccp_9' value='d'/> Product is heated for 10 minutes at 150 degrees</li>
      </ul>
    </li>


    <li>
      The filled out CCP 6 Thermal Kill Step ver2014 is reviewed and recycled in the shred box
      <ul>
        <li><input type='radio' name='ccp_10' value='true' required/> True</li>
        <li><input type='radio' name='ccp_10' value='false'/> False</li>
      </ul>
    </li>
  </ol>

<h3>INVENTORY</h3>
<p>
  The handling of allergen containing raw materials is critical to eliminate the possibility of contamination.  Please answer the following questions;
</p>
  <ol>
    <li>
      When receiving a raw material how do you know if it is an allergen?
      <ul>
        <li><input type='radio' name='ccp_11' value='a' required/> Spec Sheet</li>
        <li><input type='radio' name='ccp_11' value='b'/> Allergen Declaration</li>
        <li><input type='radio' name='ccp_11' value='c'/> Product Label</li>
        <li><input type='radio' name='ccp_11' value='d'/> All of the above</li>
      </ul>
    </li>
    <li>
      What are the 8 big allergens?
      <ul>
        <li><input type='radio' name='ccp_12' value='a' required/>  Peanuts, Shellfish, Melons, Wheat, Soy, Tree nuts, Dairy and Sulfites. </li>
        <li><input type='radio' name='ccp_12' value='b'/>  Diary, Peanuts, Soy, Sulfites, Wheat, Vegetable Proteins, Fish and Corn.</li>
        <li><input type='radio' name='ccp_12' value='c'/>  Corn, Wheat, Soy, Soy Sauce, Vegetable Proteins, Sulfites, Fish and Milk</li>
        <li><input type='radio' name='ccp_12' value='d'/>  Tree Nuts, Peanuts, Soy, Dairy, Wheat, Fish, Shellfish and Eggs.</li>
      </ul>
    </li>
    <li>
      Sulfites need to be labeled if there is more than
      <ul>
        <li><input type='radio' name='ccp_13' value='a' required/> 10 ppm</li>
        <li><input type='radio' name='ccp_13' value='b'/> 20 ppm</li>
        <li><input type='radio' name='ccp_13' value='c'/> 15 ppm</li>
        <li><input type='radio' name='ccp_13' value='d'/> 25 ppm</li>
      </ul>
    </li>
    <li>
      Liquid Allergens are allowed to be with other Liquid Raw Materials as long as they are labeled clearly.
      <ul>
        <li><input type='radio' name='ccp_14' value='true' required/> True</li>
        <li><input type='radio' name='ccp_14' value='false'/> False</li>
      </ul>
    </li>
    <li>
    Soy Powder (Soy Allergen) can only be stored above a Soy Allergen Product.
      <ul>
        <li><input type='radio' name='ccp_15' value='true' required/> True</li>
        <li><input type='radio' name='ccp_15' value='false'/> False</li>
      </ul>
    </li>

  </ol>
  <input type = 'submit'/>
</form>
{% endblock %}
