{% load humanize %}
{% load blades %}
{% load qstring %}

<div class="float-container">
	<div class="title-right">
		<img class="padtest" src="/django/qc/barcode/rm/{{retain_pk}}">
	</div>
	<div class="title-left" class="jqtextfill">
		<div class="name">{{ ingredient.id }}<br>{{ ingredient.art_nati }} {{ ingredient.prefixed_name }}</div>
	</div>
</div>

<div class="float-container info-section">
	<div class="qc-info halfwidth">
		<div>
			<div class="label">Testing procedure</div>
			<div>{{rm_info.testing_procedure}}</div>
		</div>
		<div>
			<div class="label">QC Notes</div>
			<div>{{rm_info.notes}}</div>
		</div>
		<div>
			<div class="label">Organoleptic Properties</div>
			<div></div>
		</div>
		<div>
			<div class="label">Appearance</div>
			<div></div>
		</div>
		<div class="blades">
			<ul>
				<li>
					<span class="label">Purchase cost</span>
					<span class="datum">{{ ingredient.unitprice }}</span>
				</li>
				<li>
					<span class="label">Last Updated</span>
					<span class="datum">{{ ingredient.purchase_price_update|date:"Y-m-d" }}</span>
				</li>
				<li>
					<span class="label">Allergens</span>
					<span class="datum">{{ flavor.allergen }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="signatures">
		<fieldset class="signatures"><legend align="right">Signatures and Comments</legend></fieldset>
	</div>
</div>

<div class="content-table">
	<table width="100%">
		<thead>
			<tr class="header_row">
				<th width="80px">Date</th>
				<th width="50px">RNum</th>
				<th width="90px">Supplier</th>
				<th width="70px">Lot</th>
				<th width="70px">Status</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{% for retain in rm_retains %}
			<tr>
				<td>{{ retain.date|date:"Y-m-d" }}</td>
				<td>{{ retain.r_number }}</td>
				<td>{{ retain.lot }}</td>
				<td>{{ retain.supplier }}</td>
				<td>{{ retain.status }}</td>
				<td>{{ retain.notes }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if remaining_retains > 0 %}{{ remaining_retains }} more retains on record. Total weight: {{ remaining_weight }}, going back to {{ last_date|date:"Y-m-d" }}{% endif %}
</div>