{% extends "fdileague/base.html" %}
{% block content %}
<p>Top Scorers</p>

{% for score_list in top_scorers %}

	<table class="sorttable">
	<caption>{{ score_list.0 }}</caption>
	<tr class="playeryearscores">
		<th>Player</th>
		<th>Portrait</th>
	    <th>Score</th>
	    <th>Years</th>
	    <th>Avg</th>
	</tr>
	
	{% for scorer in score_list.1 %}
	    <tr>
		<td><a href="/django/fdileague/players/{{scorer.pk}}/">{{ scorer }}</a></td>
		<td><img src="{{scorer.image_url}}"></td>
		<td>{{ scorer.yearscore__score__sum }}</td>
		<td>{{ scorer.yearscore__count }}</td>
		<td>{{ scorer.yearscore__score__avg|floatformat:0 }}</td>
	    </tr>
	{% endfor %}
	</table>

{% endfor %}

{% endblock %}
