{% extends "hazards/base.html" %}

{% block content %}
    <div class="container">
	    <div class="panel panel-default">
	
	        <div class="panel-heading"><h3><strong>GHS Products</strong></h3></div>
	
	        <table class="table table-condensed" id="formula-rows" width="100%">
	            <tr>
	                <th>Product Name</th>
	                <th>Hazards URL</th>
	                <th>SDS URL</th>
	            </tr>
	
	            {% for ghs_product in object_list %}
	                <tr>
	                    <td class="name-cell">{{ ghs_product.name }}</td>
	                    <td class="hazard-url-cell"><a href="{{ ghs_product.get_hazards_url }}">Hazards</a></td>
	                    <td class="sds-url-cell"><a href="{{ ghs_product.get_sds_url }}">SDS</a></td>
	                </tr>
	            {% endfor %}
	        </table>
	    </div>
	</div> 
{% endblock %}