{% extends "base.html" %}
{% load batchsheet_print %}
{% block htmlhead %}
{{ block.super }}
<script type="text/javascript" src="/djangomedia/js/resolve_testcards.js?v=25"></script>
<script type="text/javascript">
function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 100 + 'px';
  }
</script>
{% endblock  %}

{% block content %}



<div id="content-right">
	<h3>Sales orders:</h3>
	<ul>
		{% for lss in lot.lotsolistamp_set.all %}
		<li><a href="/django/salesorders/{{lss.salesordernumber}}/">{{lss.salesordernumber}}</a></li>
		{% endfor %}
	</ul>
</div>


	<h2><a href="{{ lot.flavor.get_absolute_url }}">{{ lot.flavor }}</a></h2>
	
<div class="lot_detail">
	<!-- Form to edit organoleptics and such. Not really fitting on this page anymore
		as it's mostly used as a lot overview rather than lot editor
	<div class="product_info_form">
		{{product_info_form.non_field_errors}}
		{{product_info_form.as_p}}
		<input type="hidden" name="productinfo_pk" value="{{ lot.flavor.productinfo.pk }}">
	</div>
	-->
	<iframe width="1100px" height="600px" src="/django/batchsheet/{{ lot.pk }}/" style="transform:translate(-150px,-70px) scale(0.7);" onload='javascript:resizeIframe(this);'></iframe>
	<div class="float-container">
		{% for retain in lot.retain_set.all %}
		<div id="retain__{{retain.pk}}" class="parent_object_detail float-container">
			<div class="parent_info">
				<ul>
					<li>{{ retain }}</li>
					<li>{{ retain.date }}</li>
					<li>{{ retain.status }}</li>
				</ul>
			</div>
			<div id="testcard__{{testcard.pk}}" class="child_object_detail testcard_form_container">
			{% for testcard in retain.testcard_set.all %}
				<span>
					<img src="{{ testcard.thumbnail.url }}" align="left" class="testcard_resolve_image tc_{{testcard.pk}}" >
					<img src="{{ testcard.large.url }}" class="hidden_image  tc_{{testcard.pk}}">
				</span>
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="batchsheet_images float-container">
		{% for bs in lot.batchsheet_set.all %}
		<img src="{{ bs.thumbnail.url }}">
	    {% endfor %}  
	</div>
</div>

{% endblock %}