body {
	font-family:helvetica,sans-serif;
	margin-top:0px;
}

table {
	font-size:13px;	
	font-weight:bold;
}

thead {
	display: table-header-group;
}

#outer {
	width:100%;
}

#outer td {
	padding:0px 0px 20px 0px;
}

#outer > thead > tr > th {
	font-size:18px;
}

#titleleft {
	text-align:left;
	float:left;
}

#titlecenter {
	text-align:center;
}

#titleright {
	text-align:right;
	float:right;
}

#formula {
	width:100%;
	table-layout:fixed;
    border-spacing:0px;
}

#formula > thead > tr > th {
	vertical-align:bottom;
	padding: 0px;
	background-color: white;
	font-size:12px;
}

#formula td {
	vertical-align:middle;
	border:1px solid grey;
	padding:2px 2px 1px 2px;
	background-color: white;
    height:32px;
}

td div {
	page-break-before:always;
}  

td span {
	margin: 8px;
	float:left;
}

#memorow *.container {
	width:100%;
	float:left;
	margin:0px -100px 0px 0px;
}

#memorow *.content {
	margin: 0px 100px 0px 0px;
}

#memorow *.left {
	float:left;
	width:145px;
}

#memorow *.main {
	margin: 0px 40px 0px 160px;
}

#memorow *.sidebar {
	float:right;
	width:100px;
}

#checklistrow *.container {
	width:100%;
	float:left;
	margin:0px -300px 0px 0px;
}

#checklistrow *.content {
	margin: 0px 300px 0px 0px;
}

#checklistrow *.left {
	float:left;
	width:145px;
}

#checklistrow *.main {
	margin: 0px 40px 0px 160px;
}

#checklistrow *.sidebar {
	float:right;
	width:300px;
	text-align:right;
}

#allergens {
	width:30%;
}

#haccp {
	width:30%;
}

#ccps {
	width:30%;
	
	
}

td.numerical {
	text-align: right;
}

td.abbrev {
	text-align: center;
}

span.ingredient-name {
	margin:0px 0px 0px 5px;
}

span.ingredient-name-2 {
	margin:2px 2px 2px 5px;
	clear:left;
}

span.sensitive {
	float:right;
	margin:2px;
}