  {% load mainsearch %}
  
  <div id="header">
		<div id="header-logob"></div>
		<div id="header-logol"></div>
	 	<div id="header-logor">
	 		<form action="/django/mysearch/" id="mainsearch" method="GET">
	 			<div>{% mainsearch %}</div>	 			
			</form>
			<p>
			    {% if request.user.is_authenticated %}
			    {{ request.user}} <a href="/django/accounts/logout/?next={{request.get_full_path}}">Logout</a>
			    {% else %}
				<a href="/django/accounts/login/?next={{request.get_full_path}}">Login</a>
				{% endif %}
			</p>
		</div>
  </div>
  
  <div id="menubar">
   	<div id="myslidemenu" class="jqueryslidemenu">
      	<ul>
        <li><a href="/django/mysearch/?search_space=flavor&search_string=">Flavors</a>
        	<ul>
        		<li><a href="/django/mysearch/?search_space=flavor&search_string=">Flavors (Products)</a></li>
        		<li><a href="/django/mysearch/?search_space=ingredient&search_string=">Raw Materials</a></li>
        		<li><a href="/django/mysearch/?search_space=experimental&search_string=">Experimentals</a></li>
        		<li><a href="/django/mysearch/?search_space=unified&search_string=">Flavors & Experimentals</a></li>
        		
        	</ul>
        </li>
        <li><a href="/">Lab</a>
        	<ul>
        		<li><a href="/django/access/new_rm/">New Raw Material</a></li>
        		<li><a href="/django/access/new_ex/">New Experimental</a></li>
        		<li><a href="/django/access/new_rm/solution/">New Solution</a></li>
        		<li><a href="/django/access/ingredient_replacer/">Ingredient Replacer</a></li>
				<!--<li><a href="/django/solutionfixer/">Solution Details</a></li>
				<li><a href="/django/solutionfixer/flagged">Solution Details - flagged</a></li>
				<li><a href="/django/solutionfixer/solution_summary">Solution Summary</a></li>
				<li><a href="/django/solutionfixer/flagged_summary">Flagged Summary</a></li>-->
        		<li><a href="/django/lab/finished_product_labels/">Finished Product Labels</a></li>
        		<li><a href="/django/lab/experimental_labels/">Experimental Labels</a></li>
        		<li><a href="/django/lab/rm_labels/">Raw Material Labels</a></li>
        		<li><a href="/django/lab/inventory/">Sample Inventory</a></li>
        		<li><a href="/django/lab/experimentals_by_customer/">Experimentals By Customer</a></li>
        	</ul>
        </li>
		<li><a href="/django/qc/">QC</a>
        	<ul>
        		<li><a href="/django/qc/retains">Product Retains</a></li>
				<li><a href="/django/qc/lots">Product Lots</a></li>
        		<li><a href="/django/qc/rm_retains">RM Retains</a></li>
        		<li><a href="/django/qc/review/">Review</a></li>
        	</ul>
        </li>
		<li><a href="/django/salesorders/">Sales Orders</a>
        	<ul>
        		<li><a href="/django/salesorders/">Overview</a></li>
				<li><a href="/django/salesorders/product/">By Product</a></li>
				<li><a href="/django/salesorders/lineitem/">By Line Item</a></li>
				<li><a href="/django/salesorders/upload_report/">Upload Report</a></li>
        	</ul>
        </li>
		<li><a href="/django/mysearch/?search_space=purchase_order&search_string=">Purchase Orders</a>
        	<ul>
        		<li><a href="/django/access/purchase/new/">New PO</a></li>
        	</ul>
        </li>
		<li><a href="/django/invoices/">Invoices</a>
        	<ul>
        		<li><a href="/django/invoices/">Summary</a></li>
        		<li><a href="/django/invoices/upload_report/">Upload Report</a></li>
        		<li><a href="/django/invoices/upload_report_lw/">Upload Report New Version</a></li>
        	</ul>
        </li>
        <li><a href="/django/batchsheet/" target="_blank">Production</a>
        	<ul>
        		<li><a href="/django/batchsheet/" target="_blank">Batchsheets</a></li>
        		<li><a href="/django/qc/lots/">Lots</a></li>
        	</ul>
        </li>
        <li><a href="/django/haccp">HACCP</a></li>
		<li><a href="/rt">Request Tracker</a></li>
		{% if experimental %}
			<li><a href="{{ experimental.get_admin_url }}">Admin</a></li>
		{% else %}{% if flavor %}
			<li><a href="{{ flavor.get_admin_url }}">Admin</a></li>
		{% else %}{% if ingredient %}
			<li><a href="{{ ingredient.get_admin_url }}">Admin</a></li>
		{% else %}{% if highlighted_ingredient %}
			<li><a href="{{ highlighted_ingredient.get_admin_url }}">Admin</a></li>
		{% else %}{% if product %}
			<li><a href="{{ product.get_admin_url }}">Admin</a></li>
		{% else %}{% if form.instance.get_admin_url %}
			<li><a href="{{ form.instance.get_admin_url }}">Admin</a></li>
		{% else %}{% if admin_link %}
			<li><a href="{{ admin_link }}">Admin</a></li>
		{% else %}
			<li><a href="/django/admin">Admin</a></li>
		{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
        <li><a href="/wiki">Wiki</a></li>
		</ul>
      	<br style="clear: left" />
    	</div>
  </div>

