{% load qstring %}
{% if list_items %}

<span class="step-links">
{% if list_items.has_previous %}

	{% if list_items.previous_page_number != 1 %}
	    <a href="?page=1&{% qstring %}">
	    first
	    </a>
	{% endif %}

	<a href="?page={{ list_items.previous_page_number }}&{% qstring %}">previous</a>

{% endif %}

<span class="current">
    Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}
</span>

{% if list_items.has_next %}
    <a href="?page={{ list_items.next_page_number }}&{% qstring %}">
	next
    </a>
    
    {% if list_items.next_page_number != list_items.paginator.num_pages %}
	    <a href="?page={{ list_items.paginator.num_pages }}&{% qstring %}">
	    last
	    </a>
	{% endif %}
    
{% endif %}


</span>
<span class="total-results">
	Total results: {{resultant_objs.count}}
</span>
{% endif %}
