{% load qstring %}
{% if page_obj %}

<span class="step-links">
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}&{% qstring %}">previous</a>
{% endif %}

<span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&{% qstring %}">
	next
    </a>
{% endif %}
</span>
<span class="total-results">
	Total results: {{resultant_objs.count}}
</span>
{% endif %}
