{% extends "base.html" %}
{% load related_links %}
{% load blades %}
{% block content %}

<script type="text/javascript">
	jQuery(document).ready(function() {
		//var docuwindow = window.open('{{ preview_image.url }}', 'docuwindow');
		jQuery('#tabs').tabs();
	});
</script>

<div id="content-right">
	{% blades flavor %}
</div>

<div id="content-main">
<div id="title-left">
	<span id="name">{{flavor}}</span>
</div>

{% related_links flavor %}

<div class="half-split">
	<div>
		<span class="label">Notes</span>
		<span>{{flavor.qc_card_info.notes}}</span>
	</div>
	<div>
		<span class="label">Testing procedure</span>
		<span>{{flavor.qc_card_info.testing_procedure}}</span>
	</div>
</div>

<div class="product-memo"><span class="label">Memo</span>{{flavor.productmemo}}</div>

    <div id="content-main">
	    <div id="tabs" class="pushed-down-tabs">
	    	<ul>
				<li><a href="#tabs-1">Lots</a></li>
				<li><a href="#tabs-2">Retains</a></li>
			</ul>
			<div id="tabs-1">
			    <form name="lot_selections" action="/django/qc/batch_print/" method="post">
			    <table class="sorttable" width="100%">
				<tr class="qcheaders">
					<th width="15px">Select</th>
				    <th>Lot Number</th>
				    <th>Flavor</th>
					<th>Date</th>
				    <th>Amount</th>
				    <th class="sorttable_nosort">Status</th>
				</tr>
				{% for lot in object_list %}
				    <tr>
				    <td><input type="checkbox" name="flavor_numbers" value="{{ lot.number }}" {% if checkall %}checked{% endif %}></td>
					<td><a class="lot-history-link" href="/django/qc/lots/{{ lot.pk }}/">{{ lot.number }}</a></td>
					<td><a href="{{ lot.flavor.get_absolute_url }}">{{ lot.flavor }}</a></td>
					<td>{{ lot.date|date:"Y-m-d" }}</td>
					<td>{{ lot.amount|floatformat:0 }}</td>
					<td>{{ lot.status }}</td>
				    </tr>
				{% endfor %}
			    </table>
				</form>
			</div>
			<div id="tabs-2">
				<form name="retain_selections" action="/django/qc/batch_print/" method="post">
			    <table class="sorttable" width="100%">
				<tr class="qcheaders">
					<th width="15px">Select</th>
				    <th>Retain</th>
				    <th>Flavor</th>
				    <th>Lot</th>
					<th>Date</th>
				    <th>Amount</th>
				    <th class="sorttable_nosort">Status</th>
				</tr>
				{% for lot in object_list %}
				{% for retain in lot.retain_set.all %}
				    <tr>
				    <td><input type="checkbox" name="flavor_numbers" value="{{ retain.lot.flavor.pk }}" {% if checkall %}checked{% endif %}></td>
					<td>{{ retain.retain }}</td>
					<td><a href="{{ retain.lot.flavor.get_absolute_url }}">{{ retain.lot.flavor }}</a></td>
					<td><a href="/django/qc/lots/{{ retain.lot.pk }}/">{{ retain.lot.number }}</a></td>
					<td>{{ retain.date|date:"Y-m-d" }}</td>
					<td>{{ retain.lot.amount|floatformat:0 }}</td>
					<td>{{ retain.status }}</td>
				    </tr>
				{% endfor %}
				{% endfor %}
			    </table>
				</form>
			</div>
	    </div>
    </div>
</div>





<form id="exportform" action="/django/access/table_to_csv" method="post" target="_blank">
<input type="hidden" id="exportdata" name="exportdata" />
</form>
{% endblock %}

